.signin-container {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 812px;
  background: #F7F8F9 0% 0% no-repeat padding-box;
  opacity: 1;
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start; 
  margin: 100px auto;
  padding-top: 20px; 
}

.signin-box {
  background: #F7F8F9;
  padding: 20px 2% 20px 20px;
  width: 350px;
  text-align: left;
}

  
  h2 {
    font: normal normal medium 28px/36px Rubik;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-bottom: 14px;
  }
  

  
  p {
    font: normal normal normal 18px/26px;
    letter-spacing: 0px;
    color: #1D2226;
    opacity: 0.6;
  }
  
.input-group {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 15px;
}

.input-group label {
  font-size: 14px;
  font-weight: bold;
  color: #6C25FF;
  position: absolute;
  top: -8px;
  left: 12px;
  background: #F7F8F9; 
  padding: 0 5px;
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 12px;
  width: 92%;
  background: #F7F8F9;
}

.input-container input {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  font-size: 16px;
  padding: 5px;
}

  
  button {
    width: 100%;
    padding: 10px;
    background: #CBCBCB 0% 0% no-repeat padding-box;    border: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
  }
  
  
  